<img src="images/logodwengo.png" alt="Banner" style="width: 150px;"/>

<div style='color: #690027;' markdown="1">
    <h1>TOEPASSING SPREIDINGSDIAGRAM: OLD FAITHFUL GEISER - OEFENING</h1> 
</div>

<div class="alert alert-box alert-success">
In deze notebook zal je data m.b.t. de activiteit van de geiser Old Faitful voorstellen. 
</div>

### Nodige modules importeren

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib widget
import ipywidgets as widgets
# from IPython.display import HTML

<video controls src="https://www.nps.gov/media/video/view.htm?id=CAC818D4-155D-451F-677DCE1D358B9F71">Old Faithful</video>

<div style='color: #690027;' markdown="1">
    <h2>1. Data inlezen</h2> 
</div>

De Old Faithful geiser in het Yellowstone National Park in de VS barst op regelmatige tijdstippen uit. Je leest een csv-file in die de wachttijd tussen de erupties en de duurtijd van de erupties in minuten bevat voor 272 observaties [1]. Je zal deze data visualiseren.

### Opgave 1.1
Lees het bestand in en laat het resultaat zien.

In [2]:
# voorbeeldscript

oldfaithful = pd.read_csv("data/oldfaithfulgeiser.csv")
oldfaithful

     eruptie  wacht
0      3.600     79
1      1.800     54
2      3.333     74
3      2.283     62
4      4.533     85
..       ...    ...
267    4.117     81
268    2.150     46
269    4.417     90
270    1.817     46
271    4.467     74

[272 rows x 2 columns]

In [3]:
print("Hoeveel rijen en kolommen heeft de tabel (de nummering niet in aanschouwing genomen)?")
text1 = widgets.Text(value=" ", description='kolommen')
text2 = widgets.Text(value=" ", description='rijen')
       
widgets.VBox([text1, text2])

Hoeveel rijen en kolommen heeft de tabel (de nummering niet in aanschouwing genomen)?

VBox(children=(Text(value=' ', description='kolommen'), Text(value=' ', description='rijen')))

### Opgave 1.2

Definieer nu de 2 variabelen `eruptie` en `wacht` die je op de assen zal plaatsen. <br>
Het is de bedoeling dat je onderzoekt of de wachttijd tot de volgende eruptie afhangt van de duurtijd van een eruptie. Denk na over welke variabele op welke as hoort.

In [4]:
# voorbeeldscript
# variabelen toekennen aan de assen
eruptie = oldfaithful["eruptie"]      # hoofding van kolom is sleutel, die speelt rol van index, eruptietijd komt op x-as
wacht = oldfaithful["wacht"]          # wachttijd komt op y-as

### Opgave 1.3

Zet deze pandas-tabellen om naar NumPy-lijsten en print de lijsten.

In [5]:
# voorbeeldscript
# data in NumPy-lijsten

x = np.array(eruptie)
y = np.array(wacht)

print(x)
print(y)

[3.6   1.8   3.333 2.283 4.533 2.883 4.7   3.6   1.95  4.35  1.833 3.917
 4.2   1.75  4.7   2.167 1.75  4.8   1.6   4.25  1.8   1.75  3.45  3.067
 4.533 3.6   1.967 4.083 3.85  4.433 4.3   4.467 3.367 4.033 3.833 2.017
 1.867 4.833 1.833 4.783 4.35  1.883 4.567 1.75  4.533 3.317 3.833 2.1
 4.633 2.    4.8   4.716 1.833 4.833 1.733 4.883 3.717 1.667 4.567 4.317
 2.233 4.5   1.75  4.8   1.817 4.4   4.167 4.7   2.067 4.7   4.033 1.967
 4.5   4.    1.983 5.067 2.017 4.567 3.883 3.6   4.133 4.333 4.1   2.633
 4.067 4.933 3.95  4.517 2.167 4.    2.2   4.333 1.867 4.817 1.833 4.3
 4.667 3.75  1.867 4.9   2.483 4.367 2.1   4.5   4.05  1.867 4.7   1.783
 4.85  3.683 4.733 2.3   4.9   4.417 1.7   4.633 2.317 4.6   1.817 4.417
 2.617 4.067 4.25  1.967 4.6   3.767 1.917 4.5   2.267 4.65  1.867 4.167
 2.8   4.333 1.833 4.383 1.883 4.933 2.033 3.733 4.233 2.233 4.533 4.817
 4.333 1.983 4.633 2.017 5.1   1.8   5.033 4.    2.4   4.6   3.567 4.
 4.5   4.083 1.8   3.967 2.2   4.15  2.    3.833 3.5   4.583 2.367 5.
 1.933 4.617 1.917 2.083 4.583 3.333 4.167 4.333 4.5   2.417 4.    4.167
 1.883 4.583 4.25  3.767 2.033 4.433 4.083 1.833 4.417 2.183 4.8   1.833
 4.8   4.1   3.966 4.233 3.5   4.366 2.25  4.667 2.1   4.35  4.133 1.867
 4.6   1.783 4.367 3.85  1.933 4.5   2.383 4.7   1.867 3.833 3.417 4.233
 2.4   4.8   2.    4.15  1.867 4.267 1.75  4.483 4.    4.117 4.083 4.267
 3.917 4.55  4.083 2.417 4.183 2.217 4.45  1.883 1.85  4.283 3.95  2.333
 4.15  2.35  4.933 2.9   4.583 3.833 2.083 4.367 2.133 4.35  2.2   4.45
 3.567 4.5   4.15  3.817 3.917 4.45  2.    4.283 4.767 4.533 1.85  4.25
 1.983 2.25  4.75  4.117 2.15  4.417 1.817 4.467]
[79 54 74 62 85 55 88 85 51 85 54 84 78 47 83 52 62 84 52 79 51 47 78 69
 74 83 55 76 78 79 73 77 66 80 74 52 48 80 59 90 80 58 84 58 73 83 64 53
 82 59 75 90 54 80 54 83 71 64 77 81 59 84 48 82 60 92 78 78 65 73 82 56
 79 71 62 76 60 78 76 83 75 82 70 65 73 88 76 80 48 86 60 90 50 78 63 72
 84 75 51 82 62 88 49 83 81 47 84 52 86 81 75 59 89 79 59 81 50 85 59 87
 53 69 77 56 88 81 45 82 55 90 45 83 56 89 46 82 51 86 53 79 81 60 82 77
 76 59 80 49 96 53 77 77 65 81 71 70 81 93 53 89 45 86 58 78 66 76 63 88
 52 93 49 57 77 68 81 81 73 50 85 74 55 77 83 83 51 78 84 46 83 55 81 57
 76 84 77 81 87 77 51 78 60 82 91 53 78 46 77 84 49 83 71 80 49 75 64 76
 53 94 55 76 50 82 54 75 78 79 78 78 70 79 70 54 86 50 90 54 54 77 79 64
 75 47 86 63 85 82 57 82 67 74 54 83 73 73 88 80 71 83 56 79 78 84 58 83
 43 60 75 81 46 90 46 74]

<div style='color: #690027;' markdown="1">
    <h2>2. Data visualiseren</h2> 
</div>

Nu je de data hebt ingelezen en in NumPy-lijsten hebt geplaatst, kan je de data plotten in een grafiek!

### Opgave 2.1

Bepaal de grenzen voor de assen.

In [6]:
#voorbeeldscript
# minima en maxima bepalen

x_min = x.min()
x_max = x.max()

y_min = y.min()
y_max = y.max()

print(x_min, x_max, y_min, y_max)

1.6 5.1 43 96

### Opgave 2.2

Nu je de grenzen van de dataset kent, kan je een voorlopige grafiek maken. Probeer dit zo eenvoudig mogelijk te houden!

In [7]:
# voorbeeldscript

plt.figure(figsize=(12,10))                       # creÃ«er tekenvenster

plt.axis(xmin=0, xmax=7, ymin=0, ymax=100)        # vensterinstellingen
plt.xticks(np.arange(0, 7, step=1))
plt.yticks(np.arange(0, 100, step=10))
plt.title("Old Faithfull")                        # titel en labels
plt.xlabel("eruptietijd")                           
plt.ylabel("wachttijd tussen erupties")                          

plt.scatter(x, y, color="coral", marker=".")      # plot punten

plt.show()                                        # toon grafiek

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

Checklist:

- Is het tekenvenster voldoende groot?
- Is het bereik aangepast aan de data?
- Heb je de grafiek een titel gegeven?
- Zijn de assen gelabeld?

### Referentielijst

[1] Wasserman, L. (2013). All of Statistics. https://www.stat.cmu.edu/~larry/all-of-statistics/<br>
[2] https://www.nps.gov/media/video/view.htm?id=CAC818D4-155D-451F-677DCE1D358B9F71

<img src="images/cclic.png" alt="Banner" align="left" style="width:100px;"/><br><br>
Notebook Python in wiskunde, zie Computationeel denken - Programmeren in Python van <a href="http://www.aiopschool.be">AI Op School</a>, van F. wyffels & N. GesquiÃ¨re, in licentie gegeven volgens een <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Naamsvermelding-NietCommercieel-GelijkDelen 4.0 Internationaal-licentie</a>.