<img src="images/logodwengo.png" alt="Banner" width="150"/>

<div>
    <font color=#690027 markdown="1">
        <h1>Statistiek in Python 1: Absolute en relatieve frequentie</h1> 
    </font>
</div>

<div>
    <font color=#690027 markdown="1">
        <h2>1. Werken met datasets</h2> 
    </font>
</div>

Statistiek is de wetenschap die een verzamelingen van gegevens onderzoekt op een wiskundige manier. Zo een verzameling gegevens gaan we verder een **dataset** noemen. De `pandas` module voegt een hoop handige functionaliteit om met datasets te werken aan Python toe.

In [ ]:
import pandas as pd  # importeer de "pandas" module

Als eerste laat `pandas` ons toe om een dataset in te lezen met Python. Onderstaand commando laadt de dataset `dataset_voorbeeld` in, die is opgeslagen op de locatie `data/dataset_voorbeeld.csv`, en slaat ze op in een variabele `voorbeeld`.

<div class="alert alert-block alert-warning"> 
In het notebook <i>0300_SpreidingsdiagramDataBestand</i> werd uitgelegd hoe we met een csv-bestand in python moeten werken.
</div>

In [ ]:
voorbeeld = pd.read_csv('data/dataset_voorbeeld.csv')
voorbeeld

In een dataset stelt een **kolom** een statistische variabele voor, zoals bijvoorbeeld: gewicht, snelheid, temperatuur, scores, een lijst van namen,...

In een rij staat wat we in de statistiek een **element** noemen. Elk element bevat per kolom een **gegeven**. Een gegeven kan in vele vormen voorkomen: gehele getallen, reële getallen, tekst, symbolen, datums,...

<div class="alert alert-box alert-success">
     Wanneer we programmeren spreken we echter ook van een variabele als we iets willen opslaan in het geheugen van de computer. Om verwarring te vermijden gaan we in wat volgt een statistische variabele een <b>kolom</b> blijven noemen.
</div>

We kunnen verschillende operaties uitvoeren op een dataset. Zo kunnen we bijvoorbeeld het aantal elementen opvragen via de `len` functie, zoals hieronder. Het aantal elementen, of aantal rijen, in een dataset noemen we de **grootte** van een dataset.

In [ ]:
voorbeeld_grootte = len(voorbeeld)  # Sla de grootte van de de dataset "voorbeeld" op in de variabele "voorbeeld_lengte"
voorbeeld_grootte                   # Print de grootte op het scherm

`pandas` laat ons toe om een kolom uit een dataset af te zonderen en er berekeningen op uit te voeren.

In [ ]:
kolom2 = voorbeeld['Kolom 2']  # Zonder Kolom 2 af en sla ze op in de variabele "kolom2"
kolom2                         # Print Kolom 2 op het scherm

Op een kolom kunnen we ook allerlei operaties uitvoeren. De functie `sum` geeft de som van alle gegevens in de kolom terug.

In [ ]:
kolom2_som = kolom2.sum()  # Sla de som van de gegevens uit Kolom 2 op in de variabele kolom2_som
kolom2_som                 # Print de som van de gegevens uit Kolom 2 op het scherm

We kunnen ook aritmetische operaties (+,-,x,÷) op alle gegevens in een kolom tegelijk uitvoeren.

In [ ]:
kolom2_dubbel = 2*kolom2  # Verdubbel alle gegevens uit Kolom 2 en sla de nieuwe kolom op in "kolom2_dubbel"
kolom2_dubbel             # Print "kolom2_dubbel" op het scherm

Als laatste behandelen we de functie `value_counts`. Die telt hoeveel keer elk gegeven in een bepaalde kolom voorkomt.

In [ ]:
kolom2_count = kolom2.value_counts()  # Tel hoeveel keer elk gegeven in Kolom 2 voorkomt
kolom2_count                          # Print "kolom2_count" op het scherm

### Opdracht 1.1

Zonder Kolom 1 af uit de voorbeeld dataset en tel, met Python, hoeveel keer het element 'A' voorkomt.

<div>
    <font color=#690027 markdown="1">
        <h2>2. Absolute frequentie</h2> 
    </font>
</div>

Als voorbeeld voor het volgende onderdeel gebruiken we in dit notebook de dataset *Space Mission Launches*. Deze dataset is gegeven in een csv-bestand op de locatie `data/mission_launches.csv`. Met de methode `read_csv` uit de *Pandas* module kunnen we de dataset inlezen en opslaan als de variabele `ruimtemissies`.

In [ ]:
ruimtemissies = pd.read_csv("data/mission_launches.csv")    # De dataset uitlezen
ruimtemissies                                               # De dataset op het scherm tonen

<div class="alert alert-box alert-success">
Als we de dataset bekijken ziet deze er op het eerste zicht vrij ingewikkeld uit. De dataset is afkomstig van <b>Kaggle</b>. Dat is platform dat onder andere datasets gratis beschikbaar stelt. Je kan de bron van deze data zelf checken via <a href="https://www.kaggle.com/datasets/sefercanapaydn/mission-launches">https://www.kaggle.com/datasets/sefercanapaydn/mission-launches</a>. Daar vind je meer info over waar de data juist vandaan komt, en wat elke kolom wil zeggen.    
</div>

### Voorbeeld 2.1
De dataset bevat 4324 rijen die elk gegevens bevatten over 1 ruimtemissie. Elk soort gegeven wordt in een aparte kolom weergegeven. We willen voor elke organisatie onderzoeken hoeveel ruimtemissies zij al hebben uitgevoerd. Hoeveel keer een gegeven in een dataset voorkomt noemen we de **absolute frequentie**. Wanneer de absolute frequenties van alle mogelijke gegevens in een tabel worden weergegeven spreken we van een **absolute frequentietabel**.

We hebben hiervoor enkel de kolom `Organisation`. Dus we slaan die kolom alvast op in een aparte variabele.

In [ ]:
organisaties = ruimtemissies['Organisation']  # De kolom Organisation uit de dataset ruimtemissies uitlezen en oplaan in de variabele organisaties
organisaties                                  # De kolom Organisation op het scherm printen

Om de absolute frequentietabel op te stellen moeten we tellen hoeveel keer elke organisatie in de kolom *Organisation* voorkomt. 4324 waarden tellen zou voor een mens enkele uren werk zijn. Voor een computer duurt dat enkele milliseconden. We kunnen hiervoor de `value_counts` functie gebruiken.

In [ ]:
absolute_frequentietabel_organisaties = organisaties.value_counts()  # Stel de absolute frequentietabel van organisaties op en sla ze op in de variabele absolute_frequentietabel_organisaties
absolute_frequentietabel_organisaties                                # Print de absolute frequentietabel op het scherm

Met absolute frequentietabel ter beschikking kunnen we uit de dataset, die op het eerste zicht ingewikkeld leek, al een hoop nuttige informatie afleiden.

### Opdracht 2.1
Welke organisatie heeft al de meeste missies volbracht?

Antwoord:

### Opdracht 2.2
Hoeveel missies heeft Roscosmos al volbracht?

Antwoord:

### Voorbeeld 2.2

Uiteraard kunnen we dit aflezen uit de absolute frequentietabel. Maar we kunnen dit ook opvragen in code door een gegeven als sleutel van de kolom te gebruiken. Zo kunnen we ook berekeningen uitvoeren met de absolute frequentie van een gegeven.

Onderstaand codefragment slaat de absolute frequentie van het aantal ruimtemissies door Boeing op in een variabele

In [ ]:
absolute_frequentie_Boeing = absolute_frequentietabel_organisaties['Boeing']  # Sla de absulute frequentie van de organisatie "Boeing" op in de variabele absolute_frequentie_Boeing
absolute_frequentie_Boeing                                                    # Print de absulute frequentie van "Boeing" op het scherm

### Opdracht 2.3
Bereken de absolute frequentie van de waarde SpaceX en sla deze op in de variabele `absolute_frequentie_SpaceX`.  Print nadien de som van het aantal ruimtemissies dat door Boeing of SpaceX werd georganiseerd op het scherm.

### Opdracht 2.4
Bereken de grootte van de *mission_launches* dataset en sla zo op de variabele `ruimtemissies_grootte`.

### Opdracht 2.5
We willen nu weten hoeveel missies er slagen en falen. Stel hiertoe de absolute frequentietabel op van de missiestatussen. Je kan die vinden in de kolom `Mission_Status`.

### Opdracht 2.6
Print nu de volgende gegevens op het scherm:
* Het aantal succesvolle missies
* Het aantal volledig gefaalde missies (dus de som van het aantal missies met Failure of Prelaunch Failure)
* Het totaal aantal gefaalde missies, door gebruik te maken van het totaal aantal missies.

<div>
    <font color=#690027 markdown="1">
        <h2>3. Relatieve frequentie</h2> 
    </font>
</div>

### Voorbeeld 3.1
We willen nu weten hoeveel procent van de ruimtemissies werden uitgevoerd door NASA. Daartoe berekenen we de verhouding tussen het aantal de missies door organistie NASA en het totale aantal missies. Dit noemen we de **relatieve freqentie** van NASA. De relatieve frequentie is dus de verhouding tussen absolute frequentie van een gegeven en de grootte van de dataset. Die verhouding kunnen we via een deling berekenen als volgt.

In [ ]:
absolute_frequentie_NASA = absolute_frequentietabel_organisaties['NASA']   # De absolute frequentietabel van de organisaties hebben we al. Daaruit halen we de absolute frequentie van NASA
relatieve_frequentie_NASA = absolute_frequentie_NASA/ruimtemissies_grootte  # Door de absolute frequentie door de grootte van de dataset te delen krijgen we de relatieve frequentie
relatieve_frequentie_NASA                                                  # Print de relatieve frequentie op het scherm

Ongeveer 4,69 % van de ruimtemissies werd dus door NASA georganiseerd.

### Opdracht 3.1
Bereken het percentage missies dat door voor de lancering is gefaald (`Prelaunch Failure`).

### Voorbeeld 3.2
We kunnen ook de volledige tabel delen door de grootte van de dataset om een **relatieve frequentietabel** te verkrijgen. We berekenen hier de relatieve frequentietabel van alle organisaties.

In [ ]:
relatieve_frequentietabel_organisaties = absolute_frequentietabel_organisaties/ruimtemissies_grootte  # Bereken de relatieve frequentietabel van de organisaties
relatieve_frequentietabel_organisaties                                                               # Print de relatieve frequentie op het scherm

Uit deze tabel kunnen we ook de relatieve frequentie van een gegeven halen op dezelfde manier dan de absolute frequentietabel.

In [ ]:
relatieve_frequentietabel_organisaties['NASA']

Dit komt inderdaad overeen met de relatieve frequentie uit voorbeeld 3.1.

### Opdracht 3.2
Genereer de relatieve frequentietabel van de status van elke missie. Print ook het percentage missies dat voor de lancering is gefaald door enkel gebruik te maken van deze tabel.

<div>
    <font color=#690027 markdown="1">
        <h2>4. Oefening</h2> 
    </font>
</div>

Volbreng de onderstaande opdrachten gegeven een nieuwe dataset met bron https://www.kaggle.com/code/rohitgupta2120/video-games-sales. De dataset is als csv-bestand terug te vinden in bij `data/video_games_sales.csv`

<div class="alert alert-box alert-success">
Je zal tijdens het maken van de opgaven merken dat de dateset al even niet meer is geupdated. De meest recente data is afkomstig uit 2017.
</div>

<div class="alert alert-block alert-danger"> 
Print eerst de dataset op het scherm en surf eens naar de bron van de data. Deze bevat uitleg over wat elke kolom wil zeggen. Dit helpt om een overzicht te houden tijdens de oefening. Nadien werk je per opdracht stap per stap zoals in de voorgaande paragrafen. De hele opgave in één keer proberen volbrengen verhoogt de kans op fouten.
</div>

### Opdracht 4.1
Hoeveel videogames uit de lijst werden uitgebracht in 2015? Print de juiste waarde op het scherm.

### Opdracht 4.2
Genereer een relatieve frequentietabel voor de genres van elk videospel.

### Opdracht 4.3

Geef het percentage videogames uit de dataset die door Nintendo werden uitgebracht? Print de juiste waarde op het scherm in procent.

### Opdracht 4.4

Geef het percentage videogames uit de lijst die zijn uitgebracht op voor de playstation. Dus de videogames met platform PS, PS2, PS3, PS4 of PSP. Print de juiste waarde in procent op het scherm.

<img src="images/cclic.png" alt="Banner" align="left" width="100"/><br><br>

<b>Opmerking. Welke tekst moet hier terecht komen?

Notebook Python in wiskunde, zie Computationeel denken - Programmeren in Python van <a href="http://www.aiopschool.be">AI Op School</a>, van F. wyffels, B. Van de Velde & N. Gesquière in licentie gegeven volgens een <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Naamsvermelding-NietCommercieel-GelijkDelen 4.0 Internationaal-licentie</a>.